header>div {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;

  .headerImage {
    position: absolute;
    right: -50%;
    top: -60%;
    width: 100%;
    z-index: -999;
    height: 150vh;
    animation: ide 50s ease-out infinite;
  }

  .topLinks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .logo {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 0.9rem;
    }

    .buttonTransparent {
      color: #fff;
      border: 2px solid #fff;
      padding: 5px 15px;
      border-radius: 100px;
      font-weight: 700;
      z-index: 100;
      // border: 1px solid red;
    }
  }

  .content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    .left {
      width: 50%;
      margin-top: 120px;

      .companyLinks {
        width: 100%;
        margin-top: 20%;

        .items {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          // justify-content: flex-start;
          width: 100%;
          padding-inline-start: 0px;

          li {
            display: block;
            width: 110px;
            max-height: 40px;

            padding: 20px;


            img {
              max-width: 100%;
              height: auto;
              margin: 0 auto;
            }
          }

        }
      }

    }

    .right {
      margin-top: 50px;
      width: 50%;

      .cards {
        display: flex;
        flex-direction: column;
        position: relative;


        .card {
          box-shadow: 12px 14px 44px 0px rgba(0, 0, 0, 0.62);
          background-color: #fff;
          width: 40%;
          position: absolute;
          backface-visibility: hidden;
          min-width: 210px;
          transition: transform 3s;
          opacity: 0;

        }

        img {
          width: 100%;
        }

        .card:nth-child(1) {
          z-index: 20;
          top: 0;
          right: 20%;
          transform: translateY(-350%);
          animation: cardDown 2s 0.9s ease forwards;
          animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }

        .card:nth-child(2) {
          top: 100px;
          right: 0;
          width: 100%;
          z-index: 10;
          transform: translateY(-350%);
          min-width: 450px;
          animation: cardDown 2s 0.5s ease forwards, cardRotate1 2s 0.5s ease forwards;
          animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }

        .card:nth-child(3) {

          top: 250px;
          right: 40%;
          width: 50%;
          z-index: 5;
          transform: translateY(-350%);
          ;
          animation: cardDown 2s 1s ease forwards, cardRotate2 2s 1s ease forwards;
          animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

        }

        .card:nth-child(4) {
          transform: translateY(-350%);
          top: 250px;
          right: 0%;
          width: 50%;
          z-index: 5;
          animation: cardDown 2s 1.5s ease forwards;
          animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        }
      }
    }

  }

}


@media (max-width:1024px) {
  header {
    .headerImage {
      right: -55%;
      top: -45%;
      width: 100%;
      z-index: -999;
      height: 100vh;

    }

    .content {
      .left {
        margin-top: 50px;

        .companyLinks {
          margin-top: 10%;

          .items {
            li {
              width: 80px;
            }
          }
        }
      }
    }
  }


  .right {
    width: 0%;

    .cards>* {
      display: none;
    }
  }
}

@media (max-width:780px) {
  header {
    .headerImage {
      right: -75%;
      top: -55%;
      width: 100%;
      z-index: -999;
      height: 100vh;
    }

    .topLinks {
      .buttonTransparent {

        padding: 5px 15px;
        border-radius: 100px;
        font-weight: 700;
        z-index: 100;

      }
    }

    .content {

      .left {
        width: 100%;
        text-align: center;

        h1 {
          padding: 0;
          margin: 100px auto;
          ;
        }

        .companyLinks {
          margin: 50px auto 0px;
          width: 90%;

          .items {
            justify-content: center;

            li {
              width: 90px;
              padding: 10px;
            }
          }
        }
      }

      .right {
        display: none;
      }
    }

  }
}

@media (max-width:400px) {
  header {
    .headerImage {
      display: none;
    }

    .topLinks {
      display: none;
    }

    .content {
      .left {
        h1 {
          padding: 0;
          margin: 0px auto 0px;

        }

        .companyLinks {
          margin: 0px auto 50px;
          width: 100%;

          .items {

            li {
              width: 80px;
              padding: 10px;
            }
          }

          .items {
            justify-content: center;
          }
        }
      }
    }
  }
}

@keyframes cardDown {

  0% {
    transform: translateY(-200%);
  }

  10% {
    opacity: 0.9
  }

  100% {
    transform: translateY(0);
    opacity: 0.98
  }
}

@keyframes cardRotate1 {

  0% {
    transform: translateY(-200%) rotate(0)
  }

  10% {}

  100% {
    transform: translateY(0) rotate(-4deg);

  }
}

@keyframes cardRotate2 {

  0% {
    transform: translateY(-350%) rotate(0)
  }

  10% {}

  100% {
    transform: translateY(0) rotate(15deg);

  }
}

@keyframes ide {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}