.backgroundElement {
  position: absolute;
  width: 50%;
  top: 50%;
  right: -25%;
  // transform: translate(-50%, -50%);
  z-index: -999;
}

.references {
  display: flex;
  justify-content: center;
  // max-width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;

  .item {
    display: flex;
    flex-basis: 18%;
    padding: 10px 50px;
    margin: 10px;
    min-height: 350px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    box-shadow: 12px 14px 44px 0px rgba(0, 0, 0, 0.25);
    // padding: 20px;
    z-index: 100;
    background-color: #fff;
    border-bottom: 4px solid var(--tertiaryColor);

    .star {
      padding-right: 7px;
      margin-top: 20px;
    }

    .author {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto 50px;

      img {
        flex-basis: 20%;
        width: 70px;
        // height: 50px;
        padding: 10px;
      }

      .authorData {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        text-align: left;

        h3 {
          margin: 10px 0;

        }

        p {
          margin: 0;
          color: var(--primaryTextColor);
          text-align: center;

          span {
            color: var(--secondaryTextColor);
          }
        }
      }



    }
  }
}


@media (max-width:1140px) {
  .references {
    flex-wrap: wrap;

    .item {
      flex-basis: 65%;

      div:first-child {
        margin: 0 auto;
      }

      // flex-basis: 40%;
      min-height: 400px;
      text-align: center;
      margin: 20px 10px;

      .author {
        margin-bottom: 50px;
      }
    }
  }
}

@media (max-width:720px) {
  .references {
    .item {
      flex-basis: 100%;
      padding: 10px;

    }
  }
}

@media (max-width:400px) {
  .references {
    .item {
      .author {
        flex-direction: column;
      }

    }
  }
}